body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 100px;
}
#text-box{
  height: 50px;
  width:200px;
  border: solid 2px;
}
#submit-btn, #reset-btn{
 border:none;
 background-color: rgb(47, 108, 240);
 border-radius: 10px;
 height: 50px;
 width:100px

}

#submit-btn:hover{
  background-color:blue ;
}
#reset-btn:hover{
  background-color: blue;
}