body{

  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
}
#dice-container{
      text-align: center;
      padding: 50px;


}

#numLabel1,  #numLabel2{
font-size:5em ;

}

#roll-btn{
  border:none;
  background-color: rgb(14, 4, 24);
  height: 50px;
  width: 100px;
  border-radius: 20px;
  color: antiquewhite;
  margin: 10px;

}
.platform-container{
  display: grid;
  grid-column: 5;
  grid-row: 5;
  gap: 5;
  background-color:grey;
  height:200px;
  width: 400px;
  border: 2px solid black;
}
#platform1{
background-color: blue;

}

#blocks{
  width: 300px;
  height: 100px; 
  background-color:grey ;
  z-index: 10;
}