@font-face {
  font-family:ss-sans;
  src: url(assets/SourceSans3-VariableFont_wght.ttf);
}




body{
  margin: 0px;
  height: 1440px;
  


}
/* Header */
header{

  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  align-items: center;
  font-family:ss-sans;
  border-bottom: 2px solid black;

}

nav  ul {
  display: flex;
  justify-content:space-between ;
  list-style-type: none;
  width: 300px;
  
  
}
 ul a {
  text-decoration: none;
  color:black;
  font-weight: bold;
  
 }

 ul a:hover {
  color: blue;
 }

 #logo{
  height: 30px;
 }
 #welcomeMessage{
  padding:5px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-bottom: 1px solid grey;
  
   margin-top: 0px;
 }
#myName{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:100;
  font-style: italic;
  font-size: 80px;
  margin-bottom: 0px;
}
#tag{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-style: italic;
  font-size: 15px;

}
#intro{
  padding-left:30px ;
}

#image-container{
  background-color:rgb(194, 192, 192) ;
  width: 300px;
  height: 300px;
  display: block;
  justify-content: flex-end;

}
#hero-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

